.navbar-header{
height: 80px;
}
.navbar-default{
  background-color: lightgrey;
  border-radius: 0;
  border: none;
  color: black;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
}
.navbar-default .navbar-nav > li > a{
 line-height: 50px;
}
 .navbar-default .navbar-nav > .active > a{
  background-color: lightgrey;
  color: black;
}
#logo{
  width: 40%;
}
